// Microsoft Visual C++ generated resource script.

#pragma code_page(65001) // UTF-8

LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT


/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_DLG_SETUP DIALOG DISCARDABLE  0, 0, 175, 73
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "AAC(iTunes)"
FONT 8, "Segoe UI"
BEGIN
    CONTROL         "Genre names are selected from a list (*effective after reboot)",
                    IDC_CH_GENRE_LIST_SELECT,"Button",BS_AUTOCHECKBOX |
                    BS_MULTILINE | WS_TABSTOP,7,7,162,20
END
