// Microsoft Visual C++ generated resource script.

#pragma code_page(65001) // UTF-8

LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT


/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_DLG_CONV_ID3V2_VERSION DIALOGEX 0, 0, 215, 142
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "ID3v2 version/character code conversion"
FONT 9, "Segoe UI", 0, 0, 0x0
BEGIN
    LTEXT           "Convert ID3v2 version and character encoding for the selected DSF file\nAre you sure you want to perform the conversion?\nRecommended settings if unsure\n\nVersion： ID3v2.3\nCharacter encoding： UTF-16",IDC_STATIC,7,7,201,55
    LTEXT           "Version",IDC_STATIC,14,85,70,8
    COMBOBOX        IDC_COMBO_ID3V2_VERSION,92,82,70,62,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Character Encoding",IDC_STATIC,14,104,70,8
    COMBOBOX        IDC_COMBO_ID3V2_ENCODE,92,101,70,57,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    DEFPUSHBUTTON   "Yes",IDOK,45,122,50,14
    PUSHBUTTON      "No",IDCANCEL,121,122,50,14
END

IDD_DLG_SETUP DIALOGEX 0, 0, 309, 176
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "DSF"
FONT 9, "Segoe UI", 400, 0, 0x1
BEGIN
    CONTROL         "Genre names are selected from a list (*effective after reboot)",IDC_CH_GENRE_LIST_SELECT,
                    "Button",BS_AUTOCHECKBOX |BS_MULTILINE | WS_TABSTOP,16,108,250,20
    CONTROL         "Type1： DSD64 / 2.8MHz, 2ch",IDC_RADIO_FORMATTYPE1,
                    "Button",BS_AUTORADIOBUTTON | WS_GROUP,16,21,174,8
    CONTROL         "Type2： DSD64 / 2.822MHz, 2ch",IDC_RADIO_FORMATTYPE2,
                    "Button",BS_AUTORADIOBUTTON,16,33,174,8
    CONTROL         "Type3： DSD64 / 2.8MHz(2822400Hz), 2ch",IDC_RADIO_FORMATTYPE3,
                    "Button",BS_AUTORADIOBUTTON,16,44,174,8
    CONTROL         "Type4： DSD64 / 2.822MHz(2822400Hz), 2ch",IDC_RADIO_FORMATTYPE4,
                    "Button",BS_AUTORADIOBUTTON,16,56,174,8
    GROUPBOX        "Format Display Type",IDC_STATIC_FORMATTYPE,7,7,295,90
    GROUPBOX        "ID3v2",IDC_STATIC_ID3V2,7,100,295,34
    LTEXT           "*For sampling rates other than 2.8MHz (2,822,400Hz) and 3.0MHz (3,072,000Hz), ""DSD64"" at the beginning of is not displayed.",IDC_STATIC_FORMATTYPE_INFO,16,74,280,20
    PUSHBUTTON      "Reset",IDC_BT_RESET_PAGE,243,156,59,13
END

IDD_DLG_SETUP_OTHER DIALOGEX 0, 0, 309, 176
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Other"
FONT 9, "Segoe UI", 400, 0, 0x1
BEGIN
    LTEXT           "ID3v2 Save format",IDC_STATIC,7,7,79,9
    COMBOBOX        IDC_COMBO_ID3V2_VERSION,68,17,57,62,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    COMBOBOX        IDC_COMBO_ID3V2_ENCODE,195,17,75,57,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Version",IDC_STATIC,16,19,47,9
    LTEXT           "Character Encoding",IDC_STATIC,126,19,66,9
    LTEXT           "ID3v2 save format (when creating a new one)",IDC_STATIC,7,36,180,9
    COMBOBOX        IDC_COMBO_ID3V2_VERSION_NEW,68,47,57,62,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    COMBOBOX        IDC_COMBO_ID3V2_ENCODE_NEW,195,47,75,57,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Version",IDC_STATIC,16,49,48,9
    LTEXT           "Character Encoding",IDC_STATIC,126,49,66,9
    PUSHBUTTON      "Reset",IDC_BT_RESET_PAGE,243,156,59,13
END
