// Microsoft Visual C++ generated resource script.

#pragma code_page(65001) // UTF-8

LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT


/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_DLG_FILE_RMP_ID3V2 DIALOGEX 0, 0, 240, 223
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "RIFF MP3/ID3v2"
FONT 9, "Segoe UI", 0, 0, 0x0
BEGIN
    GROUPBOX        "Common Settings",IDC_STATIC,7,7,226,46
    GROUPBOX        "Target items when converting to ID3v1",IDC_STATIC,11,19,222,28
    CONTROL         "All items",IDC_RA_SIF_CONV_ALL,"Button",BS_AUTORADIOBUTTON | WS_GROUP,15,31,56,10
    CONTROL         "Only items that fit into the number of characters in ID3",IDC_RA_SIF_CONV_LENGTH,"Button",BS_AUTORADIOBUTTON | BS_MULTILINE,79,26,119,20
    GROUPBOX        "RIFF MP3",IDC_STATIC,7,57,226,63
    CONTROL         "Automatically convert files that exceed ID3tag limits (obsolete setting)",IDC_CH_AUTO_CONV_RMP,
                    "Button",BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP,12,69,210,10
    CONTROL         "Copy RIFF SIF to ID3v1 (edit individually if off)",IDC_CH_RMP_ID3TAG_AUTO_WRITE,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,12,81,210,10
    CONTROL         "Genre names are selected from a list (*effective after reboot)",IDC_CH_RMP_GENRE_LIST_SELECT,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,12,93,210,10
    CONTROL         "Change file extension to .rmp/.mp3 when converting file formats",IDC_CH_CHANGE_FILE_EXT,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,12,105,210,10
    GROUPBOX        "ID3v2",IDC_STATIC,7,124,226,74
    CONTROL         "Automatically convert files that exceed ID3tag limits (obsolete setting)",IDC_CH_AUTO_CONV_ID3V2,
                    "Button",BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP,12,135,210,10
    CONTROL         "Copy ID3v2 to ID3v1 (edit individually if off)",IDC_CH_ID3V2_ID3TAG_AUTO_WRITE,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,12,147,210,10
    CONTROL         "Do not create ID3v1 (delete on update)",IDC_CH_ID3V2_ID3TAG_AUTO_DELETE,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,12,159,210,10
    CONTROL         "Genre names are selected from a list (*effective after reboot)",IDC_CH_ID3V2_GENRE_LIST_SELECT,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,12,171,210,10
    CONTROL         "Append genre number to genre name (obsolete setting)",IDC_CH_ID3V2_GENRE_ADD_NUMBER,
                    "Button",BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP,12,184,210,10
    PUSHBUTTON      "Reset",IDC_BT_RESET_PAGE,7,202,50,14
END

IDD_DLG_DEFAUT_VALUE DIALOGEX 0, 0, 239, 219
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Other"
FONT 9, "Segoe UI", 0, 0, 0x0
BEGIN
    LTEXT           "Software Defaults",IDC_STATIC,7,15,78,10
    EDITTEXT        IDC_SOFTWARE_TAG,88,14,144,14,ES_AUTOHSCROLL
    CONTROL         "",IDC_STATIC,"Static",SS_ETCHEDHORZ,7,28,225,1
    PUSHBUTTON      "Reset",IDC_BT_RESET_PAGE,182,198,50,14
    CONTROL         "Desynchronize ID3v2 frames (deprecated)",IDC_CHECK_UNSYNC,"Button",BS_AUTOCHECKBOX | BS_MULTILINE | WS_TABSTOP,7,100,225,19
    LTEXT           "ID3v2 Save format",IDC_STATIC,7,38,68,8
    COMBOBOX        IDC_COMBO_ID3V2_VERSION,59,49,49,62,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    COMBOBOX        IDC_COMBO_ID3V2_ENCODE,168,49,64,57,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "We recommend not to asynchronize ID3v2 frames because some software may not be able to get the information correctly.",IDC_STATIC_INFO,7,124,225,42
    LTEXT           "Version",IDC_STATIC,14,51,40,8
    LTEXT           "Character Encoding",IDC_STATIC,112,51,50,8
    LTEXT           "ID3v2 save format (when creating a new one)",IDC_STATIC,7,69,103,8
    COMBOBOX        IDC_COMBO_ID3V2_VERSION_NEW,59,81,49,62,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    COMBOBOX        IDC_COMBO_ID3V2_ENCODE_NEW,168,81,64,57,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Version",IDC_STATIC,14,83,41,8
    LTEXT           "Character Encoding",IDC_STATIC,112,83,50,8
END

IDD_DLG_CONV_ID3V2_VERSION DIALOGEX 0, 0, 232, 242
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Convert to ID3v2 & convert version/character encoding"
FONT 9, "Segoe UI", 0, 0, 0x0
BEGIN
    LTEXT           "Converts the selected MP3 file to ID3v2. Convert (if necessary)\nID3v2 version and character encoding.\nAre you sure you want to perform the conversion?\nRecommended\n\nVersion: ID3v2.3\nCharacter encoding: UTF-16\nDesynchronize ID3v2 frames: Off",IDC_STATIC,7,2,206,71
    LTEXT           "Version",IDC_STATIC,14,80,39,8
    COMBOBOX        IDC_COMBO_ID3V2_VERSION,74,78,63,62,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Character Encoding",IDC_STATIC,14,99,51,8
    COMBOBOX        IDC_COMBO_ID3V2_ENCODE,74,97,63,57,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    DEFPUSHBUTTON   "Yes",IDOK,43,221,50,14
    PUSHBUTTON      "No",IDCANCEL,119,221,50,14
    CONTROL         "Desynchronize ID3v2 frames (deprecated)",IDC_UNSYNC,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,14,116,194,10
    LTEXT           "We recommend not to asynchronize ID3v2 frames because some software may not be able to get the information correctly.",IDC_STATIC,7,136,218,50
END
