// Microsoft Visual C++ generated resource script.

#pragma code_page(65001) // UTF-8

LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT


/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_DLG_FILE_RMP_ID3V2 DIALOGEX 0, 0, 240, 223
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "RIFF MP3/ID3v2"
FONT 9, "Meiryo UI", 0, 0, 0x0
BEGIN
    GROUPBOX        "共通の設定",IDC_STATIC,7,7,226,46
    GROUPBOX        "ID3v1 への変換時の対象項目",IDC_STATIC,11,19,222,28
    CONTROL         "全ての項目",IDC_RA_SIF_CONV_ALL,"Button",BS_AUTORADIOBUTTON | WS_GROUP,15,31,56,10
    CONTROL         "ID3 の文字数に収まる項目のみ",IDC_RA_SIF_CONV_LENGTH,"Button",BS_AUTORADIOBUTTON,79,31,119,10
    GROUPBOX        "RIFF MP3",IDC_STATIC,7,57,226,63
    CONTROL         "ID3tag の制限を超えたファイルを自動的に変換(設定廃止)",IDC_CH_AUTO_CONV_RMP,
                    "Button",BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP,12,69,210,10
    CONTROL         "RIFF SIF を ID3v1 にコピー(オフの場合は個別に編集)",IDC_CH_RMP_ID3TAG_AUTO_WRITE,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,12,81,210,10
    CONTROL         "ジャンル名はリストから選択する(※再起動後有効)",IDC_CH_RMP_GENRE_LIST_SELECT,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,12,93,210,10
    CONTROL         "ファイル形式変換時に拡張子を .rmp/.mp3 に変更する",IDC_CH_CHANGE_FILE_EXT,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,12,105,210,10
    GROUPBOX        "ID3v2",IDC_STATIC,7,124,226,74
    CONTROL         "ID3tag の制限を超えたファイルを自動的に変換(設定廃止)",IDC_CH_AUTO_CONV_ID3V2,
                    "Button",BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP,12,135,210,10
    CONTROL         "ID3v2 を ID3v1 にコピー(オフの場合は個別に編集)",IDC_CH_ID3V2_ID3TAG_AUTO_WRITE,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,12,147,210,10
    CONTROL         "ID3v1 を作成しない(更新時に削除)",IDC_CH_ID3V2_ID3TAG_AUTO_DELETE,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,12,159,210,10
    CONTROL         "ジャンル名はリストから選択する(※再起動後有効)",IDC_CH_ID3V2_GENRE_LIST_SELECT,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,12,171,210,10
    CONTROL         "ジャンル名にジャンル番号を付加する(設定廃止)",IDC_CH_ID3V2_GENRE_ADD_NUMBER,
                    "Button",BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP,12,184,210,10
    PUSHBUTTON      "初期値に戻す",IDC_BT_RESET_PAGE,7,202,50,14
END

IDD_DLG_DEFAUT_VALUE DIALOGEX 0, 0, 239, 219
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "その他"
FONT 9, "Meiryo UI", 0, 0, 0x0
BEGIN
    LTEXT           "ソフトウェアのデフォルト",IDC_STATIC,7,15,78,10
    EDITTEXT        IDC_SOFTWARE_TAG,88,14,144,14,ES_AUTOHSCROLL
    CONTROL         "",IDC_STATIC,"Static",SS_ETCHEDHORZ,7,28,225,1
    PUSHBUTTON      "初期値に戻す",IDC_BT_RESET_PAGE,182,198,50,14
    CONTROL         "ID3v2 のフレームを非同期化する(非推奨)",IDC_CHECK_UNSYNC,"Button",BS_AUTOCHECKBOX | BS_MULTILINE | WS_TABSTOP,7,100,225,19
    LTEXT           "ID3v2の保存形式",IDC_STATIC,7,38,68,8
    COMBOBOX        IDC_COMBO_ID3V2_VERSION,59,49,49,62,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    COMBOBOX        IDC_COMBO_ID3V2_ENCODE,168,49,64,57,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "ID3v2 のフレームを非同期化すると情報を正しく取得出来ないソフトがあるため、非同期化しないことをお勧めします。\n非同期化しないとID3v2を認識しないプレーヤで問題が生じることがあります。そのような古いプレーヤを使用する場合は非同期化した方が良いかもしれません。",IDC_STATIC_INFO,7,124,225,42
    LTEXT           "バージョン",IDC_STATIC,14,51,40,8
    LTEXT           "文字エンコード",IDC_STATIC,112,51,50,8
    LTEXT           "ID3v2の保存形式(新規作成時)",IDC_STATIC,7,69,103,8
    COMBOBOX        IDC_COMBO_ID3V2_VERSION_NEW,59,81,49,62,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    COMBOBOX        IDC_COMBO_ID3V2_ENCODE_NEW,168,81,64,57,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "バージョン",IDC_STATIC,14,83,41,8
    LTEXT           "文字エンコード",IDC_STATIC,112,83,50,8
END

IDD_DLG_CONV_ID3V2_VERSION DIALOGEX 0, 0, 232, 242
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "ID3v2 に変換&バージョン/文字エンコードの変換"
FONT 9, "Meiryo UI", 0, 0, 0x0
BEGIN
    LTEXT           "選択中の MP3 ファイルを ID3v2 に変換します。(必要な場合)\nID3v2 のバージョンと文字エンコードを変換します。\n変換を実行してもよろしいですか？\n良く分からない場合の推奨設定\n\nバージョン： ID3v2.3\n文字エンコード： UTF-16\nID3v2 のフレームを非同期化： オフ",IDC_STATIC,7,2,206,71
    LTEXT           "バージョン",IDC_STATIC,14,80,39,8
    COMBOBOX        IDC_COMBO_ID3V2_VERSION,74,78,63,62,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "文字エンコード",IDC_STATIC,14,99,51,8
    COMBOBOX        IDC_COMBO_ID3V2_ENCODE,74,97,63,57,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    DEFPUSHBUTTON   "はい",IDOK,43,221,50,14
    PUSHBUTTON      "いいえ",IDCANCEL,119,221,50,14
    CONTROL         "ID3v2 のフレームを非同期化する(非推奨)",IDC_UNSYNC,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,14,116,194,10
    LTEXT           "ID3v2 のフレームを非同期化すると情報を正しく取得出来ないソフトがあるため、非同期化しないことをお勧めします。\n非同期化しないとID3v2を認識しないプレーヤで問題が生じることがあります。そのような古いプレーヤを使用する場合は非同期化した方が良いかもしれません。",IDC_STATIC,7,136,218,50
END
