// Microsoft Visual C++ generated resource script.

#pragma code_page(65001) // UTF-8

LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT


/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_DLG_SETUP DIALOGEX 0, 0, 213, 75
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "True Audio"
FONT 9, "Segoe UI", 0, 0, 0x0
BEGIN
    CONTROL         "Genre names are selected from a list (*effective after reboot)",IDC_CH_GENRE_LIST_SELECT,
                    "Button",BS_AUTOCHECKBOX | BS_MULTILINE | WS_TABSTOP,7,7,199,20
    GROUPBOX        "ID3v2",IDC_STATIC,7,26,199,38
    CONTROL         "Copy ID3v2 to ID3v1 (edit individually if off)",IDC_CH_ID3TAG_AUTO_WRITE,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,12,38,194,10
    CONTROL         "Do not create ID3v1 (delete on update)",IDC_CH_ID3TAG_AUTO_DELETE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,12,50,194,10
END
